{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div style="background-color:#E5FFCC">
<h1 style="color:red" class="head"><center><b>Our Services</b></center></h1> 

<h1 style="color:black" class="head"><center><b>Classes</b></center></h1> 

<p><center>Our numerous classes in classical hatha yoga include sessions adapted for intermediate and advanced students, pregnancy, kids, and for those wishing a more gentle practice. Each class emphasises proper breathing, flexibility, strength and vitality in the body while calming the mind. Most classes follow a structure of: initial relaxation (Savasana), breathing exercises (Pranayama), sun salutation (Surya Namaskar), 12 basic postures (Asanas), and final guided relaxation.</center></P>
<p><center>Our classes are based on the traditional teachings of Yoga and Vedanta which aims to naturally achieve the goal of self-realisation and peace through creating a healthy body and mind that leads to spiritual evolution.</center></p>

<div><center>
    <div style="background-color:#FFCCCC; border:5px dashed black; margin:20px;padding 20px">
    <h2><b>Open Class</b></h2>
    <p>The Open Class is available on a drop-in basis to all who have completed the Beginners’ Course (Yoga 1). The powerful sequence of traditional yoga includes pranayama, sun salutation, the 12 classical basic postures, and deep relaxation.

    <br>Timings 6 am | 8 am | 10 am | 4 pm | 6:30 pm
    
    <br>Prerequisite: Yoga 1 or teacher approval
    <br>Donation: Members: INR 2000/Month | Non-Members: INR 2500/-</p>
</div>
<div style="background-color:#FFCCCC; border:5px dashed black; margin:20px;padding 20px">
<h2><b>Intermediate/Advanced Classes</b></h2>
<p>
    Expand your regular practice with our two-hour Intermediate/Advanced Class. Go deeper into the basic postures through longer holding and learn new variations.
   <br> <b>Prerequisite:</b> Students should be able to hold headstand and other basic postures with ease.
</p>
</div>
<div style="background-color:#FFCCCC; border:5px dashed black; margin:20px;padding 20px">
<h2><b>Pre-natal Yoga Class</b></h2>
<p>
    The months of carrying a child are precious. The yoga postures and breathing techniques are a gentle way to keep your body active and fit during your pregnancy. Specially-adapted postures prepare the body for a peaceful birth and restore vitality and vigour in the post-natal months. Practice can begin after the first trimester after consultation with your doctor.
    
   <br> <b>Duration:</b>  75 minutes
   <br> <b>Schedule:</b>  Every Saturday & Sunday; 8 am to 9:15am.
   <br><b> Donation:</b>  INR 500 / class | INR 2000 for 40 days
</p>
</div>
<div style="background-color:#FFCCCC; border:5px dashed black; margin:20px;padding 20px">
<h2><b>Kid's Yoga Classes</b></h2>
<p>A lively approach to yoga to help kids develop co-ordination, flexibility, strength and confidence as well as enhancing concentration, memory and a sense of well-being and self-awareness. The classes include yoga postures, proper breathing, meditation, chanting and spiritual storytelling. It’s a lot of fun—the kids make new friends and develop new and positive interests. Open to children age 5-12 years.

    <br><b>Duration:</b>  60 minutes
    <br><b>Schedule:</b>  Every Saturday & Sunday; 10 am
    <br><b>Donation:</b>  INR 500 / class | INR 2000 ( 10 Classes Pass)
    
    <br>We also taking kids Online via Zoom.
    
    <br>Please contact us</p>
</div>
<div style="background-color:#FFCCCC; border:5px dashed black; margin:20px;padding 20px">
<h2>Gentle Yoga Class</h2>
<p>A slower-paced class for people of all kinds, ages and fitness levels. Gentle yoga removes any fears or challenges in doing yoga. Classes are designed for those who want to take a more gentle class to improve general mobility, health and well-being. The class includes easy basic postures with some variations, breathing exercises, relaxation and meditation.
    <br><b>Donation:</b>  INR  2000/ month
</p>
</div>
</center>
</div>
</div>

<!-- Footer-->
<div class="py-5 bg-black">
    <div class="container px-5"> <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p></div></div> 
  


{% endblock body %}
